language: bash
cache:
- "$HOME/.ccache"
addons:
  apt:
    packages:
    - ccache
services:
- docker
before_install:
- docker pull m0rf30/arch-arm-crosscompile
script:
- docker run -u root -v $HOME/.ccache:/ccache -v $TRAVIS_BUILD_DIR:/workspace m0rf30/arch-arm-crosscompile:latest
  bash -c "cd /workspace/rpi; CCACHE_DIR=/ccache ./script"
before_deploy:
- git config --local user.name "$GH_USER"
- git config --local user.email "$GH_MAIL"
- export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
- git tag $TRAVIS_TAG
deploy:
  provider: releases
  api_key:
    secure: spdeHkFcZukZwWMZssT4iXeYRo5T7aguiJo9Lp2JvqGYXPfWiK7yBY6GnwrrCmPWJpR4vvvOVzxerM30CITPCZCYMlyJqKhmMs6+dMzR/f3x/dlXMcxtoyGP3OyRzjnyDesg4lG/ezLdZvilOjWzgzlqQtG>
  file_glob: true
  file: rpi/build/*
  on:
    repo: M0Rf30/qemu-kernels-rpi-arch-arm
